@model IEnumerable<Marketplace.WebApp.Models.OfferVM>
    <p>Przejrzyj dostępne oferty:</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID oferty
                </th>
                <th>
                    Nazwa
                </th>
                <th>
                    Cena
                </th>
                <th>
                    Aktywna?
                </th>
                <th>
                    Data Utworzenia
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OfferId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.ActionLink("Szczególy", "Details", new { id = item.OfferId })
                </tr>
            }
        </tbody>
    </table>
